.hero-widget-avatar {
  --avatar-size: 85px;

  height: var(--avatar-size);
  width: var(--avatar-size);
}

.hero-widget-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.hero-widget-tagline {
  width: 153px;
  color: var(--text-secondary);
}
