:root {
  --aoc-text-primary: #01c903;
  --aoc-text-secondary: #0b480c;
  --aoc-surface-background: #0f0f23;
}

.aoc {
  padding: var(--spacing-medium);
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--aoc-surface-background);
  transition: var(--transition-transform-slow);
}

.aoc:hover {
  transform: scale(1.03);
}

.aoc-body {
  font-family: var(--font-jet-brains-mono);
  font-size: 1rem;
  font-weight: 400;
  color: var(--aoc-text-primary);
  text-shadow: 0 0 5px var(--aoc-text-primary);
}

.aoc-body-secondary {
  font-weight: 400;
  color: var(--aoc-text-secondary);
  text-shadow: 0 0 5px var(--aoc-text-secondary);
}
