button,
a {
  font-family: var(--font-geist-sans);
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.014375rem;
  text-decoration: none;
  text-align: center;
  color: white;

  min-width: 6rem;
  padding: 6px 16px;
  border-radius: 999px;
  border: none;
  cursor: pointer;

  transition: all 80ms linear;
}

.primary-button {
  background-color: var(--blue-100);
}

.primary-button:hover {
  background-color: var(--blue-hover);
}

.secondary-button {
  background-color: var(--blue-15);
  color: var(--blue-100);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.secondary-button:hover {
  background-color: var(--blue-35);
}
