:root {
  --sfh-bg: #19191d;
  --sfh-font-primary: #f3f3f3;
  --sfh-font-secondary: #f3f3f350;
}

body {
  max-width: 600px;
  margin: 2rem auto 0;
  padding: 0 1rem;

  background-color: var(--sfh-bg);
  color: var(--sfh-font-primary);

  font-feature-settings: "ss02", "ss03", "ss08", "ss09";
  -webkit-font-smoothing: antialiased;
}

main {
  padding: 0 0 1rem;
}

h1 {
  font-size: 3rem;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: -0.2px;
  margin: 0;
  padding: 2rem 0 0.5rem;

  /* Optically aligning the leading edge of the letters */
  transform: translateX(-2.8px);
}

h2 {
  font-size: 2rem;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 1.5rem 0 0.5rem;
}

p {
  line-height: 150%;
  letter-spacing: 0.2px;
  margin: 0;
  padding: 0.5rem 0;
}

p.secondary-text {
  font-family: var(--font-geist-mono);
  font-size: 0.875rem;
  letter-spacing: 0.2px;
  opacity: 0.5;
  padding: 0;
}

a {
  color: inherit;
  text-decoration-thickness: 2%;
  text-underline-offset: 15%;
  text-decoration-color: var(--sfh-font-secondary);
  transition: all 150ms ease-out;

  &:hover {
    text-decoration-color: var(--sfh-font-primary);
  }
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
}

li::before {
  content: ">";
  margin-right: 0.5rem;
  color: var(--sfh-font-secondary);
}

hr {
  height: 1px;
  background-color: var(--sfh-font-secondary);
  border: none;
  border-radius: 999px;
  margin: 0.5rem 0;
}
