main {
  min-height: 100dvh;
  display: grid;
  justify-content: center;
  align-items: center;

  section.hero {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-xxlarge);

    .avatar {
      border-radius: 999px;
    }

    .hero-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-medium);
      margin-bottom: var(--spacing-xlarge);

      p {
        text-align: center;
      }
    }
  }
}

/* * Utility Classes */

.button-group {
  display: flex;
  gap: var(--spacing-medium);
}

/* TODO: reduced motion */
/* @media (prefers-reduced-motion) {} */

/* TODO: Mobile */
/* @media (max-width: 700px) {} */

/* TODO: Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {} */
