main {
  width: var(--page-content-width-large);
  min-width: var(--page-content-width-large);

  height: var(--page-content-height);
  max-height: 100vh;

  padding: var(--spacing-large) var(--spacing-medium);

  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: var(--page-content-gap);
}

@media (max-width: 600px) {
  body {
    align-items: flex-start;
  }

  main {
    width: var(--page-content-width-small);
    min-width: var(--page-content-width-small);
  }
}

.app-icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: var(--app-icon-container);
  width: var(--app-icon-container);
  gap: var(--page-content-gap);
}

/* TODO: reduced motion */
/* @media (prefers-reduced-motion) {} */

/* TODO: Mobile */
/* @media (max-width: 700px) {} */

/* TODO: Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {} */
