body {
  font-family: var(--font-inter);
}

h1 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.2px;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 0.2px;
}

a {
  font-size: 1rem;
  letter-spacing: 0.3px;
}
