:root {
  --widget-height: 150px;
  --widget-width-small: 150px;
  --widget-width-medium: 316px;

  --app-icon-container: 150px;
  --app-icon: 57px;

  /* Sizes */
  --page-content-width-large: 514px;
  --page-content-width-small: 348px;
  --page-content-height: 546px;
  --page-content-gap: var(--spacing-medium);
}
