.widget-large {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-medium);
  min-width: var(--widget-width-large);
  height: 150px;
  border-radius: 20px;
  background: var(--material-dark-chrome);
  border: var(--border);
  filter: drop-shadow(var(--drop-shadow));
  backdrop-filter: blur(var(--blur));
}

.hero-widget-avatar {
  --avatar-size: 85px;

  height: var(--avatar-size);
  width: var(--avatar-size);
}

.hero-widget-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.hero-widget-tagline {
  width: 153px;
  color: var(--text-secondary);
}
