:root {
  --color-link: #1784f9;
  --color-link-hover: #155ead;
  --color-link-visited: #155ead;
}

a.link {
  color: var(--color-link);

  width: max-content;
  display: flex;
  gap: 0.25rem;

  text-underline-offset: 2px;

  svg {
    margin-top: auto;
    margin-bottom: 2px;
    fill: var(--color-link);
  }
}

a.link:focus,
a.link:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-link);
  border-radius: 4px;
}

a.link:hover {
  color: var(--color-link-hover);
  svg {
    fill: var(--color-link-hover);
  }
}

a.link:visited {
  color: var(--color-link-visited);
}
/* For reasons I don't understand, I can't nest this like the block above */
a.link:visited > svg {
  fill: var(--color-link-visited);
}
