.widget {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-medium);
  height: 150px;
  border-radius: 20px;
  border: var(--border);
  filter: drop-shadow(var(--drop-shadow));
  backdrop-filter: blur(var(--blur));
  background: var(--material-dark-chrome);
}

.widget-small {
  min-width: var(--widget-width-small);
}

.widget-medium {
  min-width: var(--widget-width-medium);
}
